---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Some text about me"
	pubDate={new Date('August 29 2025')}
>
	<p>
		My name is Ben.  I'm a regular guy, wife, 2 Kids, no dog just yet but maybe one day.  Skateboarder of 25ish years.
		I'll listen to anything but more often than not Hardcore, Punk or Taylor Swift.  Software Developer of around 10 years.
		I love junk food. I'll argue about anything with anyone.
	</p>
</Layout>
